body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 8px;
  margin: 4px 2px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 5px;
}

/* dashboard */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0 15px 0;
  overflow-x: auto;
}

.stat {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: bold;
  white-space: nowrap;
}

.stat.active {
  background-color: rgba(13, 202, 13, 0.425);
}
.stat.pending {
  background-color: rgba(219, 182, 16, 0.425);
}

.stat.completed {
  background-color: rgba(13, 202, 13, 0.425);
}

.stat.inactive {
  background-color:rgba(248, 0, 0, 0.425);
}

/* filtros */
.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.filters label {
  font-weight: bold;
}

.filters select {
  margin-left: 5px;
  padding: 4px;
}

#users {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* user card */
.user {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.status {
  font-weight: bold;
  margin-right: 10px;
}

.status.active {
  color: rgb(9, 138, 9);
}

.status.inactive {
  color: rgb(189, 1, 1);
}

/* task */
ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.hidden {
  display: none;
}
